:root {
    margin:  0;
    padding : 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.admin-header {
    width : 100%;
    background-color: white;
    display : flex;
    justify-content: space-between;
    padding : 10px 35px;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.09);
}
.admin-logo-img {
    width : 150px;
}
.admin-body {
    display : flex;
}
.admin-navbar {
    width : 20%;
    height : 100%;
    // background-color: rgba(0,0,0,0.04);
}
.admin-content {
    width : 80%;
    padding : 24px ;
}
.admin-navbar-item {

}
.admin-navbar-list {
    padding : 12px 24px;
    border : 1px solid rgba(0,0,0,0.05);
}
.admin-navbar-list button {
    border : none;
    background-color: white;
    font-size: 16px;
}
.admin-navbar-list:hover {
    cursor: pointer;
    background-color: #ee4d2d;
    color : white;
}
.admin-navbar-list:hover button{
    background-color: #ee4d2d;
    color : white;
}
.admin-navbar-list:hover .admin-navbar-icon{
    color : white;
}
.admin-navbar-icon {
    color : #ee4d2d;
    font-size: 18px;
    margin-right: 16px;
}
.admin-main-web, .admin-product, .admin-review, .admin-user, .admin-money {
    display : none;
}

.active {
    display: block;
}
.admin-product-list {
    width : 100%;
}
.admin-product-list td,th {
    padding : 8px;
    border: 1px solid rgba(0,0,0,0.04);
}
.admin-product-list th {
    font-size: 18px;
    font-weight: lighter;
}
.admin-product-list td {
    font-size: 15px;
    color : #888;
}
.admin-product-name {
    width : 35%;
}
.admin-product-des {
    width : 35%;
}
.admin-product-update {
    width : 15%;
    text-align: center;
}
.admin-product-delete {
    width : 15%;
    text-align: center;
}
.admin-product-btn {
    border: none;
    border-radius: 15px;
    padding : 8px 25px;
    font-size: 16px;
    color : white;
}
.admin-product-update button {
    background-color: rgb(52, 162, 206);
}
.admin-product-delete button {
    background-color: rgb(241, 131, 80);
}
.admin-product-btn:hover {
    cursor: pointer;
}
.admin-product-add-name , .admin-product-add-des {
    padding : 6px 20px;
    font-size: 16px;
    width : 43%;
}
.admin-product-add-btn {
    border : none;
    background-color:  rgb(235, 124, 143);
    color : white;
    padding : 12px 20px;
    border-radius: 6px;
    font-size: 16px;
    margin: 30px;
}
.admin-product-add-btn:hover {
    cursor: pointer;
}
.admin-product-add {
    margin-bottom: 24px;
}
.admin-product-update-inp {
    padding : 4px 12px;
    font-size: 16px;
}