:root {
    margin:  0;
    padding : 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.admin-header {
    width : 100%;
    background-color: white;
    display : flex;
    justify-content: space-between;
    padding : 10px 35px;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.09);
}
.admin-logo-img {
    width : 150px;
}
.admin-body {
    display : flex;
    gap: 10px;
   
    
}
.admin-content {
    width : 80%;
    padding : 24px ;
    background-color: #fff;
    position: relative;
    margin-top: 20px;
    border-radius: 15px;
    min-height: 80vh;
}
.admin-navbar-icon {
    color : #ee4d2d;
    font-size: 18px;
    margin-right: 16px;
}
.admin-main-web, .hide-page {
    display : none;
}

.active {
    display: block;
}

.admin {
    &-body {
        background-color: #f5f5f5;
    }
    &-navbar {
        background-color: #fff;
        height: 88vh;
        width: 20%;
        border-radius: 15px;
        margin-top: 1.5rem;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 2px 2px rgb(211, 211, 211, 0.5);
        margin-left: 1.5rem;
        &-item{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            &-list {
                height: 4.7rem;
                transition: all 0.3 ease;
                display: flex;
                align-items: center;
                & button {
                    color: rgb(50, 48, 48);
                    font-weight: 500;
                    padding: 22.5px 0;
                    font-size: 1.3rem;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin: auto 20px;
                    gap: 5px;
                    transition: all 0.3s ease;
                    border: none;
                    text-align: left;
                    background-color: inherit;
                    &:active{
                        color: #C23373;
                    }    
                    
                }
            }
        }
        &:hover {
            box-shadow: none;
        }
    }
}
.btn-active{
    &::before {
        content: '';
        width: 6px;
        height: 40%;
        background-color: #C23373;
    }

    & button {
         color: #C23373;
    }
    width: 100%;
    border-radius: 15px;
    margin: auto 0;
    background-color: #f5f5f5;
}