:root {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --primary-color : #ee4d2d;
}

.cart-header {
    display : flex;
    justify-content: space-between;
    padding : 16px 90px;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.09);
}
.cart-header-logo {
    display : flex;
    align-items: center;
    width : 50%;
    color : var(--primary-color);
}
.cart-header-logo_img {
    width : 160px;
    margin-bottom: 18px;
}
.cart-header-title {
    font-size: 18px;
}
.cart-header-line {
    width : 1px;
    height : 30px;
    background-color: var(--primary-color);
    margin-right: 16px;
}
.cart-header-search {
    display: flex;
    width : 50%;
}
.cart-header-inp {
    width : 150%;
    padding : 8px 16px;
    font-size: 16px;
    border : 2px solid var(--primary-color);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
}
.cart-header-search-btn {
    padding : 8px 25px;
    background-color: var(--primary-color);
    color : white;
    font-size: 16px;
    border : none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.cart-header-search-btn:hover {
    cursor: pointer;
}

.cart-body {
    background-color: #f5f5f5;
    padding : 20px 75px;
}   
.cart-voucher {
    background-color: #fffefb;
    display : flex;
    border : 1px solid #f3db97;
    padding : 12px 16px;
    font-size: 14px;
    align-items: center;
}
.cart-voucher-img {
    width : 25px;
    margin-right: 8px;
}
.cart-pay {
    background-color: white;
    padding : 16px 16px;
    display : flex;
    align-items: center;
    margin-top : 12px;
    justify-content: space-between;
}
.cart-pay button {
    padding : 10px 40px;
    border : none;
    font-size: 16px;
    background-color: white;
}
.cart-pay button:hover {
    cursor: pointer;
}
.cart-pay .cart-pay-special {
    background-color: var(--primary-color);
    color : white;
    padding: 10px 50px;
}
.cart-product-general {
    margin: 16px 0;
    background-color: white;
    border-radius: 4px;
    padding : 16px 36px;
    font-size: 15px;
    color : #888888;
}
.cart-product-general table {
    width : 100%;
}
.cart-product-col-double {
    width : 40%;
}
.cart-product-col-single {
    width : 25%;
    text-align: center;
}
.cart-product-item  {
    border-radius: 4px ;
    font-size: 15px;
}
.cart-product-item table {
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0,0,0,0.07);
}
.cart-product-img {
    width : 80px;
}
.cart-product-des {
    display : flex;
    align-items: center;
    justify-content: space-between;
}
.cart-product-header {
    font-size: 15px;
    font-weight: lighter;
    margin-left: 12px;
    text-transform: uppercase;
    text-align: left;
}
.cart-product-category {
    color : #888888;
}
.cart-product-btn button{
    padding : 6px 16px;
    border: none;
    background-color: white;
    border : 1px solid rgba(0,0,0,0.08)
}
.cart-product-method button{
    padding : 4px 20px;
    background-color:white;
    font-size: 16px;
    border : none;
}
.cart-product-item button:hover {
    cursor: pointer;
}
.cart-product-shop {
    display: flex;
    padding : 20px 0;   
    border-bottom: 1px solid rgba(0,0,0,0.07);
}
.cart-product-shop-voucher {
    color : var(--primary-color);
    margin-right: 12px;
}
.cart-product-ship {
    display : flex;
    padding : 16px 0 8px;
    font-size: 15px;
}
.cart-product-voucher {
    width : 25px;
    margin-right: 12px;
}
.cart-product-wrap {
    background-color: white;
    margin: 24px 0;
    padding : 16px 35px;
}
.cart-product-col-special {
    width : 25%;
}
.cart-product-checkbox {
    margin-right: 16px;
}