.my_profile__content__header {
    height: 80px;
    border-bottom: 0.0625rem solid #efefef;
    padding: 20px 0 0 20px;

    h1 {
        margin: 0;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.5rem;
        text-transform: capitalize;
        color: #333;
    }

    div {
        margin-top: 0.1875rem;
        font-size: .875rem;
        line-height: 1.0625rem;
        color: #555;
    }
}

.my_profile__content__body {
    width: 100%;
    padding-top: 30px;
    display:flex;
    justify-content: space-between;

    .my_profile__content__body__left {
        flex : 1;
        padding-right: 50px;
    }


    .my_profile__content__body__right {
        width: 17.5rem;
        overflow: hidden;
        border-left: 0.0625rem solid #efefef;
        display: flex;
        justify-content: center;
       
      

        .my_profile__content__body__right__wrapper {
            display:flex;
            flex-direction: column;
            align-items: center;

            .my_profile__content__body__right__img {
                border-radius: 50rem;
                margin: 20px 0;
                width: 150px;
                height: 150px;

                img {
                    border-radius: 50rem;
                    width: 100%;
                    height: 100%;
                }
    
            }
            button {
                outline: 0;
                background: #fff;
                color: #555;
                border: 1px solid rgba(0,0,0,.09);
                box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
                position: relative;
                overflow: visible;
                height: 40px;
                padding: 0 20px;
                min-width: 70px;
                max-width: 220px;
                display: inline-flex;
                line-height: 40px;

                &:hover {
                    background: rgba(0,0,0,.02);
                    cursor: pointer;
                }
            }

           
        }
    
    }
}

.input__flex {
    padding-left: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    label {
        width: 125px;

    }

    input {
        margin-left: 10px;
    }

}

.input__flex__date {
    display: flex;
    padding-left: 30px;
    margin-bottom: 30px;

    label {
        width: 100px;
    }

    div {
        margin-left: 10px;
    }

}