.shopmall-wrapper {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}

.shopmall {
    &-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #cecbcb;
        height: 60px;
        &_logo {
            padding: 0 20px;
            font-size: 20pt;
            text-transform: uppercase;
            & a {
                color: #d0011b;
            }
        }
        &_options ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            padding-right: 220px;
            gap: 10px;
            & li {
               
                font-size: 14pt;
                & a {
                    text-transform: capitalize;
                    color: #000;
                }
            }
        }
        &_viewmore {
            font-size: 12pt;
            & a {
                color: #d0011b;
                
            }
        }
    }
    &-content {
        display: flex;
        flex-direction: row;
        &_banner {
            padding: 10px 0 0 10px;
        }
        &_products {
           
            & ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                list-style: none;
                justify-content: space-between;
                // align-content: space-around;
                & li {
                    padding: 10px;
                    width: 180px;
                    height: 216px;
                    & a {
                        font-size: 16pt;
                        padding-bottom: 10px;
                        
                        .item-name {
                            color: #d0011b;
                        }
                    }
                }
            }
        }
    }
}