* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
:root {
    --primary-color : #f14d2d;
    --height-header: 80px;
    --text-color : #222222;
}
.login-content {
    background-color: rgb(255, 235, 226);
    width : 100%;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 85px 0;
    flex: 1;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    color : var(--text-color);
}

.login-form {
    background-color: #fff;
    padding : 30px;
    max-width : 400px;
    margin-right: 150px;
    min-width: 380px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.14);
    border-radius: 5px;
}

.login-footer-top {
    margin-bottom: 12px;
    font-size: 14px;
    color : #ccc ;
    display: flex;
    align-items: center;
}
.login-line {
    display: block;
    height : 1px;
    flex : 1;
    width : 100%;
    background-color: #dbdbdb;
}
.login-line-des {
    color : #ccc;
    padding : 0 16px;
}

.login-footer-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex : 1;
}

.login-footer-btn {
    display: flex;
    align-items: center;
    padding : 6px 12px;
    background-color: #fff;
    font-size: 15px;
    border : 1px solid #ccc;
    min-width: 150px;
}
.login-footer-btn:hover {
    background-color: rgba(0,0,0,0.06)
}
.login-footer-img {
    width : 25px;
    margin-right: 12px;
}
.login-login {
    margin: 24px 0 0px;
    font-size: 14px;
    text-align: center;
}
.login-link {
    color : #ee4d2d;
    text-decoration: none;
}
.login-method-change {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-by-qr,  .login-by-email {
    padding : 6px 8px;
    border : none;
    cursor: pointer;
    background-color: white;
    border : 1px solid #ccc;
    margin: 12px 0 0;
}