


.home-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    
    
}

.home-page {
    &_banners {
        padding-top: 9.5rem;
        background-color: #ffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 0 1px 0 #747373;

        &_offers {
            width: 1200px;
            height: 108px;
            margin: 0 auto;
            margin-top: 10px;
            &_list ul {
                display: flex;
                flex-direction: row;
                list-style: none;
                flex-wrap: nowrap;
                
                & li {
                    width: 150px;
                    height: 108px;
                    display: flex;
                    align-items: center;
                    & a {
                        color: #000;
                        font-size: 11.5pt;
                    }
                }
            }
        }    
        
    }

    &-main-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        &_category {
            
            width: 1200px;
            margin: 0 auto;
            background-color: #ffff;

            &_title {
                height: 60px;
                display: flex;
                align-items: center;
                padding-left: 20px;
                font-size: 16px;
                text-transform: uppercase;
                color: #747373;
            }
            &_list {
                height: 150px;
                font-size: 15pt;
                border: 1px solid rgba($color: #b1aeae, $alpha: 0.2);
                color: rgba(0,0,0,.7);
                &:hover {
                    box-shadow: 0.5px 0.5px  #b9b8b8
                }
            }
        }
        &_flash-sale{
            width: 1200px;
            margin: 0 auto;
            background-color: #ffff;
            
            &_title {
                height: 60px;
                display: flex;
                align-items: center;
                padding-left: 20px;
               
            }
            &_viewmore {
                display: flex;
                align-items: center;
                color: #ee4d2d;
                padding-left: 20px;
            }
            &_list {
                height: 242px;
                font-size: 14pt;
            }
        }
        &_banners {
            height: 110px;
            width: 1200px;
            margin: 0 auto;
        }
        &_recommend {
            position: relative;
            width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            
        }
    }
}