.profile__main {
    width: 100%;
    margin: calc(8.5rem)  0 0 0;
    padding: 0;

    .profile__layout {
        width: 100%;
        padding: 20px 100px 0 100px;
        
        box-shadow: border-box;
        display: flex;
        justify-content: center;
    
    
        .profile__navbar {
            min-width: 208px;
            padding: 0 30px;


            .profile__navbar__header {
                height: 80px;
                border-bottom: 0.0625rem solid #efefef;
                display: flex;
                align-items: center;

                .profile__navbar__header__avatar {
                    width: 30px;
                    height: 30px;
                    object-fit: contain;
                    border-radius: 50rem;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }

                    

                }

                .profile__navbar__header__infor {
                    flex: 1;
                    padding-left: 10px;

                    .profile__navbar__header__infor__name {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        min-height: 1rem;
                        font-weight: 600;
                        margin-bottom: 5px;
                        color: #333;
                    }
                    .profile__navbar__header__infor__edit {
                        color: #888;
                        text-transform: capitalize;
                       
                        span {
                            margin-left: 8px;
                        }
                    }
                }

             
            }

            .profile__navbar__body {
                padding-top: 30px;

                .profile__navbar__body__list {
                    list-style: none;

                }

                .profile__navbar__body__item {
                    display: flex;
                    color: rgba(0,0,0,.87);
                    align-items: center;
                    margin-bottom: 0.9375rem;

                    .profile__navbar__body__item__icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 1.25rem;
                        height: 1.25rem;
                        line-height: 1.25rem;
                        text-align: center;
                        border-radius: 50%;
                        flex-shrink: 0;
                        margin-right: 0.625rem;
                    }
                    
                    .profile__navbar__body__text {
                        font-weight: 400;
                        margin-right: 0.3125rem;
                        line-height: 1rem;

                        a {
                            color: black;
                        }


                    }

                    
                }
            }
// profile__navbar__body__list
// profile__navbar__body__item
        }
    
        .profile__content {
            flex: 1;
            padding: 15px 0 0 0;
            background-color: orange;
            background: #fff;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.13);
            border-radius: 0.125rem;
        }
    }
    
    
}
