.product-wrapper {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 282px;
    border: 1px solid #d8d3d3;
    box-shadow: 1px 1px #e3e2e2;
    &:hover {
        border: 1px solid #ea4321;
    }
}
.product{
    
    // &-image {
    //     &_offer{

    //     }
    //     &_sticky {

    //     }

    // }
    &-title {
        display: flex;
        flex-direction: column;
        gap: 2px;
        align-content: center;
        padding: 8px;
        &_name {
            height: 26px;
            color: #474343;
            overflow: hidden;
            font-size: 13px;
            line-height: 1;
        }
        &_discount {
            background-color: #f8a32b;
            width: 60px;
            height: 17px;
            color: #fff;

        }
    }
    &-sale {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 8px;
        padding-top: 0;
        &_price {
            color: #ea4321;
            font-size: 13pt;
            align-self: end;
        }
        &_sold {
            color: rgba(0,0,0,.54);
            align-self: end;
            padding-bottom: 2px;
            font-size: 9pt;
        }
    }
}