* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 16px;
}
.header-shop-wrapper {
    height: 8.25rem;
    background: #f53d2d;
    background: linear-gradient(-180deg,#f53d2d,#f63);
    transition: transform .2s cubic-bezier(.4,0,.2,1);
    // position: static;
    width: 100%;
    z-index: 200;

}

.header-shop {
    width: 1200px;
    margin: 0 auto;

        &_navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 2.25rem;
            align-items: center;
            &_contact, &_support {
                &_list {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    list-style: none;
                    li, a {
                        font-size: 0.8rem;
                        padding: 4px;
                        color: white;
                        text-transform: capitalize;
                    }
                }              
            }
        }
        &_main {
            height: 6rem;
            display: flex;
            flex-direction: row;
            padding: 10px 0 10px 0;
            justify-content: space-between;
            &_logo {
                height: 3.125rem;
                width: 10.125rem;
                & a {
                    fill: #fff;
                }
                
            }
            &_search {
                display: flex;
                flex-direction: column;
                padding-top: 10px;
                &_button button {

                    color: #fff;
                    background-color: #f63;
                    
                }
                &_recommend ul {
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    & li {
                        padding: 5px;
                        & a {
                            font-size: 0.8rem;
                            color: #fff;
                        }
                    }
                }

            }
            &_cart {
                width: 8.625rem;
                height: 3.5875rem;
                display: flex;
                justify-content: center;
                padding-top: 10px;
                &_logo svg {
                    width: 2.5625rem;
                    height: 2.875rem;
                    color: #fff; 
                } 
            }
        }
}

.user{
    &-wrapper {
        display: flex;
        flex-direction: row;
        gap: 7px;
        align-items: center;
    }
    &-avatar {
        & img {
            height: 25px;
            border-radius: 50%;
        }
    }
    &-name {
        font-size: 14px;
    }
    
}