:root {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding : 0;
}

.review-container{
    margin-top: 16px;
    padding : 24px 30px;
    width : 80%;
    background-color: white;
}

.review-header {
    font-size: 20px;
    font-weight: lighter;

}
.review-wrap_box {
    display : flex;
    padding : 24px 25px;
    justify-content: center;
    align-items: center;
}
.review-box {
    width : 100%;
    padding : 25px 35px;
    border: 1px solid #f9ede5;
    background-color: #fffbf8;
    display : flex;

}   
.review-list {
    margin-left: 60px;
}
.review-btn {
    background-color: white;
    border : 1px solid #e8e8e8;
    border-radius : 4px;
    min-width: 100px;
    padding : 10px 20px;
    font-size: 16px;
    margin: 12px 20px;
}
.review-btn:hover {
    cursor: pointer;
}
.review-active {
    color : #d1011b;
    border : 1px solid #d1011b;
}
.review-general_rating {
    color : #d1011b;
}
.review-detail {
    display : flex;
    border-bottom: 1px solid #e8e8e8;
}
.review-detail + .review-detail {
    margin-top: 24px;
}
.review-avatar {
    width : 65px;
    border-radius: 50%;
    height : 65px;
}
.review-content {
    margin-left: 24px;
}
.review-username {
    font-size: 12px;
    margin-bottom: 6px;
}

.review-datetime {
    font-size: 12px;
    color : #7575a1
}

.review-body {
    margin: 24px 0;
}
.review-line {
    display : inline-block;
    width : 1px;
    height : 12px;
    background-color:#7575a1;
    margin: 0 4px;
}

.review-body {
    // max-width: 500px;
}