.flash-sale {
    &_product {
        &_info {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px 0;
            padding-top: 0 ;
            &_price {
                font-size: 15pt;
                color: #ee4d2d;
            }
            &_sold {
                text-align: center;
                display: flex;
                justify-content: center;
                padding: 10px;
                &_status {
                    color: #fff;
                    position: absolute;
                    z-index: 100;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    font-size: 10pt;
                }
                &_visual {
                    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/ac7f81d9ee062223753413ec98497a86.png);
                    height: 16px;
                    width: 120px;
                    position: absolute;
                    z-index: 99;
                    left: 30px;
                    
                }
                &_subvisual {
                    position: absolute;
                    background-color: #e16a1a;
                    height: 16px;
                    width: 140px;
                    z-index: 90;
                    border-radius: 8px;
                }
            }
        }
    }
}
