* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
:root {
    --primary-color : #f14d2d;
    --height-header: 80px;
    --text-color : #222222;
}
.register-header {
    height : var(--height-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding : 0 100px;
    color : (--text-color);
}
.register-header-logo {
    display : flex;
    align-items: center;
}
.register-logo-img {
    width : 200px;
    padding-bottom: 18px;
}
.register-logo-des {
    font-size: 22px;
    font-weight: lighter;
}
.register-header-help a{
    text-decoration: none;
    font-size: 14px;
    display : inline-block;
    color : var(--primary-color)
}
// .register-content {
//     background-color: rgb(255, 235, 226);
//     width : 100%;
//     display : flex;
//     justify-content: space-between;
//     align-items: center;
//     padding : 85px 0;
//     flex: 1;
//     background-position: center center;
//     background-size: contain;
//     background-repeat: no-repeat;
//     color : var(--text-color);
// }
.register-content {
    width: 100%;
}