

.footer-container {
    padding : 50px 65px;
    background-color: #f5f5f5;
}
.footer-service ,
.footer-shopee ,
.footer-payment ,
.footer-follow ,
.footer-download {
    width : 25%;
}
.footer-list {
    display : flex;
    justify-content: space-between;
    flex : 1;
}

.footer-service-header ,
.footer-shopee-header,
.footer-payment-card,
.footer-delivery-card,
.footer-follow-header,
.footer-download-header {
    color : #202020;
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 16px;
}

.footer-service-item, 
.footer-shopee-item {
    list-style: none;
    font-size: 12.5px; 
}
.footer-service-item a, 
.footer-shopee-item a {
    text-decoration: none;
    color : #565656;
    display: inline-block;
    padding : 6px 0;
}


.footer-payment-img, 
.footer-delivery-img {
    display : flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-payment-img img, 
.footer-delivery-img img {
    background-color: #fff;
    padding : 8px 12px;
    width : 80px;
    margin-right: 8px;
    margin-top: 8px;
}
.footer-delivery-card {
    margin-top: 30px;
}
.footer-follow-list {
    font-size: 12.5px;
}

.footer-download-img {
    display : flex;
}
.footer-download-side {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.footer-download-pic, .footer-download-pic-up {
    width : 100%;
    background-color: #fff;
    padding : 4px 8px;
}
.footer-download-pic-up {
    margin-bottom: 6px;
}
.footer-download-pic {
    margin: 6px 0;
}
.footer-download-qr {
    width : 80px;
}

.footer-bottom {
    margin-top: 80px;
    padding-top: 40px;
    border-top: 1px solid #565656;
    display : flex;
    font-size: 13px;
    justify-content: space-between;
    align-items: center;
}
.footer-list_item,
.footer-bottom-logo,
.footer-bottom-para {
    color : #565656;
    text-align: center;
    font-size: 12px;
    margin-top: 40px;
}

.footer-list_item {
    display:  flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom-line {
    display: inline-block;
    height : 12px;
    width : 1px;
    background-color: #333;
    line-height: 12px;
}
.footer-line {
    margin: 0 20px;
}

.footer-bottom-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom-logo {
    display : flex;
    text-align: center;
}
.footer-bottom-logo-pic {
    width : 120px;
}
.footer-bottom-logo-pic img {
    width : 100%;
}
.footer-bottom-logo-pic-left {
    margin-right: 25px;
}
.footer-bottom-logo-pic-right {
    margin-left: 25px;
}

.footer-follow-item {
    font-size: 12px;
    margin-right: 12px;
    color : #4a4a4a;
    margin-top: 8px;
}
.fa-facebook,
.fa-linkedin {
    font-size: 18px;
    margin-right: 20px;
}
.footer-follow-item:hover {
    color : #ee4d2d;
}