.flash-sale-wrapper {
    display: flex;
    flex-direction: column;
}

.flash-sale {
    &_banner {
        width: 1200px;
        margin: 0 auto;
    }
    &_products {
        width: 1200px;
        margin: 0 auto;
        & ul {
            display: flex;
            list-style: none;
            flex-direction: row;
            flex-wrap: wrap;
            
        }
    }
}