.login-form-header {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: lighter;
}

.login-form-input {
    width : 100%;
    padding : 12px 16px;
    border : 1px solid #ccc;
    border-radius: 3px;
    
    font-size: 14px;
}
.login-form-input:focus {
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.14);
    border : 1px solid #ccc;
}

.login-form-btn {
    width : 100%;
    background-color: var(--primary-color);
    color : white;
    padding : 8px 0;
    border : none;
    font-size: 15px;
    margin-bottom: 20px;
    // opacity: 0.8;
}
.login-form-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}


.login-form-method {
    display : flex;
    justify-content: space-between;
    align-items: center;
}
.login-form-forget, .login-form-sms {
    color : #5255aa;
    font-size: 12px;
    margin: 0px 0px 12px;
}
